<div id="up_handout" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">上传课件</h3>
  </div>
  
  <div class="modal-body">
    <%= form_for "handout", url: teacher_course_handouts_path(@course) do |f| -%>
    <fieldset>
      <div class="controls">
        <%= f.text_field :title, placeholder: "课件名称" %>
      </div>
      <div class="controls">
        <%= f.file_field :accessory %>
      </div>
      <div class="controls">
        <%= f.submit "Submit", class: "btn"%>
      </div>
    </fieldset>
    <% end -%>
  </div>
</div>