<ul class="nav nav-tabs" id="courses-tab">
  <li class="active">
    <a href="#works" data-toggle="tab">已提交的同学</a>
  </li>
  <li>
    <a href="#works-over" data-toggle="tab">未提交的同学</a>
  </li>
</ul>

<div id="courses-tab-content" class="tab-content">
 <div class="tab-pane fade active in" id="works">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>姓名</th>
          <th>提交时间</th>
          <th>分数</th>
          <th>操作</th> 
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="task in ok_tasks">
          <td>{{ task.name }}</td>
          <td>{{ task.created_at }}</td>
          <td>{{ task.grade }}</td>
          <td>
            <a href="{{ task.url }}">下载</a>
            <a href="#" ng-click="grade_click(task.id)">打分</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="works-over">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>姓名</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="task in no_tasks">
          <td>{{ task.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="grade" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">打分</h3>
  </div>
  <div class="modal-body">
    <p>
      <input type="text" ng-model="grade_model" />
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" ng-click="grade_sub()">提交</button>
  </div>
</div>