<ul class="nav nav-tabs" id="courses-tab">
  <li class="active">
    <a href="#works" data-toggle="tab">已提交的同学</a>
  </li>
  <li>
    <a href="#works-over" data-toggle="tab">未提交的同学</a>
  </li>
</ul>

<div id="courses-tab-content" class="tab-content">
 <div class="tab-pane fade active in" id="works">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>姓名</th>
          <th>提交时间</th>
          <th>操作</th> 
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="works-over">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>姓名</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>