<div ng-controller="courses_controller">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span7 courses-index">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>课程名</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="course in courses">
                        <td>{{ course.name }}</td>
                        <td>
                            <a class="btn btn-primary btn-small" ng-click="show(course.id)">查看</a>
                            <a class="btn btn-info btn-small" ng-click="over(course.id)">结束课程</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="span5 courses-show" id="courses-show-span">
                <div class="affix" id="courses-show">
                    <h3>{{ course.name }}</h3>
                    <hr>
                    <div class="well courses-teacher">
                        <div class="courses-teacher-image">
                            <img src="/assets/my_photo.png" alt="" width="100px" height="100px">
                        </div>
                        <div class="courses-teacher-info">
                            <h3>@{{ course.teacher.name }}</h3>
                            <hr>
                        </div>
                    </div>

                    <div class="courses-tab">
                        <ul class="nav nav-tabs" id="courses-tab">
                            <li class="active">
                                <a href="#handouts" data-toggle="tab">讲义</a>
                            </li>
                            <li>
                                <a href="#works" data-toggle="tab">未完成作业</a>
                            </li>
                            <li>
                                <a href="#works-over" data-toggle="tab">已完成作业</a>
                            </li>
                        </ul>
                        <div id="courses-tab-content" class="tab-content">
                            <div class="tab-pane fade active in" id="handouts">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>课件名</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="handout in handouts">
                                        <td>
                                           {{ handout.title }}
                                        </td>
                                        <td>
                                            <a class="btn btn-success btn-small" ng-click="preview(handout.swf)">预览</a>
                                            <a class="btn btn-danger btn-small" download="{{ handout.title }}"
                                               href="{{ handout.download }}">下载</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="works">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>作业</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="work in works">
                                        <td>
                                            {{ work.title }}
                                        </td>
                                        <td>
                                            <a href="{{ work.accessory.accessory.url }}"
                                               download="{{ work.title }}" class="btn btn-primary btn-small">
                                                下载作业
                                            </a>
                                            <a class="btn btn-danger btn-small" ng-click="new_task(work.id, work.title)">
                                                提交作业
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="tab-pane" id="works-over">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>作业名称</th>
                                            <th>分数</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="work in old_works">
                                            <td>{{ work.title }}</td>
                                            <td>{{ work.grade }}</td>
                                        </tr>                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    ui.set_course_show_with();
    var startDocument = "Paper";
    function flexpaper(swf) {
        $('#documentViewer').FlexPaperViewer(
            { config : {

                  SWFFile : swf,
                  
                  Scale : 0,
                  ZoomTransition : 'easeOut',
                  ZoomTime : 0.5,
                  ZoomInterval : 0.2,
                  FitPageOnLoad : true,
                  FitWidthOnLoad : false,
                  FullScreenAsMaxWindow : false,
                  ProgressiveLoading : false,
                  MinZoomSize : 0.2,
                  MaxZoomSize : 5,
                  SearchMatchAll : false,
                  InitViewMode : 'Portrait',
                  RenderingOrder : 'flash,html',
                  StartAtPage : '',
                  
                  ViewModeToolsVisible : true,
                  ZoomToolsVisible : true,
                  NavToolsVisible : true,
                  CursorToolsVisible : true,
                  SearchToolsVisible : true,
                  WMode : 'window',
                  localeChain: 'en_US'
                  }}
            );
    }
    
</script>

