<div id="work-up" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="taskCtrl">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">提交作业--{{ title }}</h3>
  </div>
  <div class="modal-body">
    <input type="file" ng-model="file" class="hide" id="task-file" />
    <div class="input-append ie_hide">
      <input id="pretty-input" class="input-large" type="text" onclick="$('input[id=task-file]').click();">
      <a class="btn" onclick="$('input[id=task-file]').click();">Browse</a>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>
<script type="text/javascript">
$('input[id=task-file]').change(function() {
  $('#pretty-input').val($(this).val().replace("C:\\fakepath\\", ""));
});
</script>